In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_student_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

In [4]:
school_student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:

# Combination of two files in one DataFrame
#school_student_df.head(10)
school_student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [55]:
# Inspect all columns
school_student_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [73]:
#Calculate the total number of schools
total_schools_df=school_student_df['school_name'].value_counts()
tot_schools=total_schools_df.count()
tot_schools

15

In [57]:
#Calculate the total number of students
total_students_df=sum(school_student_df['student_name'].value_counts())
total_students_df
tot_stu

39170

In [58]:
#Calculate the total budget per school
total_budget=school_df["budget"].sum()
total_budget

24649428

In [59]:
#Calculate the total budget per student
total_budget_student=school_student_df[["student_name","budget"]].value_counts()
total_budget_student.head()

student_name   budget
Michael Smith  3094650    5
               3022020    5
Michael Davis  3124928    5
Michael Brown  3022020    4
Michael Smith  3124928    4
dtype: int64

In [60]:
#Calculate the average math score 
average_math_score=school_student_df["math_score"].mean()
average_math_score.round(6)

78.985371

In [61]:
#Calculate the average reading score
average_reading_score=school_student_df["reading_score"].mean()
average_reading_score.round(5)

81.87784

In [62]:
#Calculate the percentage of students with a passing math score
students_pass_math_score=school_student_df.loc[school_student_df["math_score"]>=70].count()["student_name"]
students_pass_math_score

29370

In [63]:
#(70 or greater)Calculate the percentage of students with a passing reading score
perc_stu_pass_math=students_pass_math_score/total_students_df *100
perc_stu_pass_math

74.9808526933878

In [64]:
#Calculate the percentage of students with a passing reading score
students_pass_reading_score=school_student_df.loc[school_student_df["reading_score"]>=70].count()["student_name"]
students_pass_reading_score

33610

In [65]:
# Passing Reading (The percentage of students that passed reading.)
perc_stu_pass_reading=students_pass_reading_score/total_students_df *100
perc_stu_pass_reading

85.80546336482001

In [66]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
perc_pass_read_math=(perc_stu_pass_math + perc_stu_pass_reading)/2

perc_pass_read_math

80.39315802910392

In [75]:
# Create a dataframe to hold the above results
dist_summary=pd.DataFrame({
    "Total Schools":tot_schools,"Total Students":total_students_df,
    "Total Budget":total_budget,"Average Math Score": average_math_score,"Average Reading Score": average_reading_score,
    "Passing Math %": perc_stu_pass_math,"Passing Reading %": perc_stu_pass_reading, "Overall Passing %":perc_pass_read_math})
dist_summary

ValueError: If using all scalar values, you must pass an index

In [68]:
Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
0	15	39,170	$24,649,428.00	78.985371	81.87784	74.980853	85.805463	65.172326

SyntaxError: invalid syntax (<ipython-input-68-73853cc5d25c>, line 1)

In [ ]:

#Optional: give the displayed data cleaner formatting