In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [8]:
## How to read in a csv file

1. Reading a csv file ( pd.read_csv )

2. Check how your data looks like ( school_df.head())

3. I want to check the columns & their data types ( 3 main types -> numerical type ; object type(String) ; date type)
Age -> string type then convert it into numerical type

4. Check for missing values(or NAs) => df.isna().sum() => shows the count of NAs in each column
Age = 3
Gender = 15

5. Drop them or fill them up with mean or median

7. 2 concepts - 
a.filtering a dataframe(.loc) male_df = df.loc[select all records who are male]
b.Groupby( .groupby )
# get me the "sum"/"average" of the numerical column AS PER a categorical column
# givve me the average salary per gender
# give me the failing percentage PER SCHOOL
categorical column & numerical column

6#. describe(include = ['object'])

6. Univariate analysis ( analysing in only 1 column)
if numerical column - describe()
-mean,quantiles,median,max,min
Plots :
Boxplot()
Histogram()

if categorical column - value_counts()
tells you about how much each category is present in the column
blue = 90
black = 20
Bargraph()

7. Bivariate ( using 2 columns)
How age is affecting salary
Graphs
scatter() - most preferred
Line() - Only for timeseries

SyntaxError: invalid syntax (<ipython-input-8-9b2b32965b84>, line 3)

In [4]:
school_data_to_load = "Resources/schools_complete.csv"

In [5]:
# File to Load (Remember to Change These)
#school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_student_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

NameError: name 'student_data' is not defined

In [6]:
student_data

NameError: name 'student_data' is not defined

In [22]:

# Combination of two files in one DataFrame
school_student_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [39]:
#Calculate the total number of schools
total_schools_df=school_student_df['school_name'].value_counts()
total_schools_df.count()

15

In [43]:
#Calculate the total number of students
total_students_df=sum(school_student_df['student_name'].value_counts())
total_students_df

39170

In [61]:
#Calculate the total budget
total_budget=school_student_df["budget"].sum()
total_budget

82932329558

In [60]:
#Calculate the average math score 
average_math_score=school_student_df["math_score"].mean()
average_math_score.round(6)

78.985371

In [59]:
#Calculate the average reading score
average_reading_score=school_student_df["reading_score"].mean()
average_reading_score.round(5)

81.87784

In [66]:
#Calculate the percentage of students with a passing math score
students_pass_math_score=school_student_df["math_score"].count() >=average_math_score
students_pass_math_score

True

In [ ]:
#(70 or greater)Calculate the percentage of students with a passing reading score

In [ ]:






#(70 or greater)Calculate the percentage of students who passed math and reading
#(% Overall Passing)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting